/*///////////////////////////// Bar Style ///////////////////////////////////*/
.sortbutton {
    margin-left: 40px;
}

.addbutton {
    margin-left: 40px;
}

/*axis path控制坐标轴线的css样式*/
.axis path,
.axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: sans-serif;
    font-size: 11px;
}

/*/////////////////////////////// Partition Diagram Style /////////////////////////////////*/
/*Partition Diagram Style*/
.partText {
     writing-mode: tb;
     font-family: 'Anime Ace', monospace;
     font-size: 18px;
 }

.partText2 {
    font-family: 'Anime Ace', monospace;
    font-size: 18px;
}